
body{
      font-family: "Lato", sans-serif;
      overflow: none;
    }

    /*______________________________Navbar________________________________*/
    .nheader{
      width: 100%;
      height: 140px;
      background-color: #222c3d;
      overflow: hidden;
    }

    header div div img{
      float: left;
      width: 200px;
    }

    .mailtxt{
      color: #fff;
      color: white;
    }

    .mailimg{
      height: 20px;
      width: 20px;
    }

    .contactimg{
      height: 20px;
      width: 20px;
    }

    .search{
      border-radius: 10px;
    }

    .srcicon{
      height: 20px;
      width: 20px;
    }

    .loginbtn{
      width: 55px;
      border-radius: 10px; 
      background-color: orange;
    }

    .regbtn{
      border-radius: 10px;
      background-color: white;
      color: black;
      width: 55px;
    }

    .div2ul{
      color: white;
      font-size: 40px;
      text-align: center;
    }

    .navbarfooter{
      width: 100%;
      height: 140px;
      background-color: #222c3d;
      overflow: hidden;
    }
    
    .topnav .search-container button:hover {
  background: #ccc;

}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
}

  /*________________________________MAIN_HOME_________________________________*/
.img{
    position: absolute;
/*    width: 1520px;
    left: 0px; 
    top:0px;
    z-index: -1;*/
  }

/*.wtxtalign{
  margin-bottom: -400px;
}*/
.homeimgtxt{
  color: #222c3d;
  font-size: 60px;
  /*position: absolute;*/
  margin-top: -500px;
  margin-left: 230px;
}
.txtthey{
  color: orange;
}
.txtthey1{
  color: orange;
  font-size: 60px;
  margin-left: 330px;
  margin-bottom: -500px;
/*  padding-top: -300px;*/
  /*position: absolute;*/
}
.growtxt{
  color: #222c3d;
  font-size: 60px;
}

.mainimgfooter{
  background-color: #ededed;
  height: 100px;
  width: 1511px;
  position: absolute;
  margin-top: 190px;
  margin-left: 5px;
  opacity: 0.5;
}
.pimgtxt{
  font-size: 25px;
  padding-left: 430px;
  padding-top: 25px;
}

.homesrch{
  position: absolute;
  margin-top: 6px;
  margin-left: 100px;
  border-radius: 20px;
  height: 40px;
  width: 450px;
  background-color: white;
  opacity: 1;
}

/*_________________________________ABOUT-US___________________________________*/



/*@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
}*/

.abtus{
  font-size: 40px; 
  color: orange;
  text-align: center;
  margin-top: 400px;
  margin-bottom: 10px;
  }

.titleimg{
  /*border-style: solid;*/
  border-bottom: solid;
  border-bottom-width: 2px;
  width: 200px;
  height: 1px;
  margin-top: -15px;
  background-color: black;
  margin-bottom: 90px;
}

.tdimg{
  margin: 40px;
}

.gllryimg{
  height: 450px;
}

.quoteimg{
  margin-top: -400px; 
  margin-top: 10px;
  width: 50px;
}

.pquote{
  margin-top: 20px; 
  font-size: 20px;
}

.ppara{
  width: 600px;
  font-size: 16px;
  margin-right: 30px;
}

/*________________________________OUR-GROWTH__________________________________*/
.ourgrowth{
  font-size: 40px;
  color: orange;
}

/*.title1img{
  width: 150px;
  height: 1px;
  margin-top: -15px;
  background-color: black;
}*/

.cupdiv{
  float: left;
  margin-top: 20px;
  margin-top: -1px;
  padding-left: 30px;
}

.cuptxtdiv{
  padding-left: 20px;
  margin-top: 20px;
}

.cuptxtp{
  color: orange;
}

.cupspan{
  font-size: 30px;
}

.cup-p{
  margin-top: -25px;
}
/*___________________*/
.ppldiv{
  float: left;
  margin-top: 20px;
  margin-top: -1px;
  padding-left: 80px;
}

.ppltxtdiv{
  padding-left: 20px;
  margin-top: 20px;
}

.ppltxtp{
  color: orange;
}

.pplspan{
  font-size: 30px;
}

.ppl-p{
  margin-top: -25px;
}
/*___________________*/

.ratiodiv{
  float: left;
  margin-top: 20px;
  margin-top: -1px;
  padding-left: 80px;
}

.ratiotxtdiv{
  padding-left: 20px;
  margin-top: 20px;
}

.ratiotxtp{
  color: orange;
}

.ratiospan{
  font-size: 30px;
}

.ratio-p{
  margin-top: -25px;
}
/*__________________*/
.capdiv{
  float: left;
  margin-top: 20px;
  margin-top: -1px;
  padding-left: 80px;
}

.captxtdiv{
  padding-left: 20px;
  margin-top: 20px;
}

.captxtp{
  color: orange;
}

.capspan{
  font-size: 30px;
}

.cap-p{
  margin-top: -25px;
}
/*_____________________*/
.clgdiv{
  float: left;
  margin-top: 20px;
  margin-top: -1px;
  padding-left: 80px;
}

.clgtxtdiv{
  padding-left: 20px;
  margin-top: 20px;
}

.clgtxtp{
  color: orange;
}

.clgspan{
  font-size: 30px;
}

.clg-p{
  margin-top: -25px;
}
/*___________________*/
.devicediv{
  float: left;
  margin-top: 20px;
  margin-top: -1px;
  padding-left: 80px;
}

.devicetxtdiv{
  padding-left: 20px;
  margin-top: 20px;
}

.devicetxtp{
  color: orange;
}

.devicespan{
  font-size: 30px;
}

.device-p{
  margin-top: -25px;
}

/*___________________________________CARDS____________________________________*/
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.crd1div{
  width: 40%;
  height: 400px;
  width: 300px;
  margin-bottom: -30px; 
  margin-left: 330px;
}

.crd2div{
  height: 400px;
  width: 300px;
  float: left;
  margin-left: 140px; 
  margin-top: -370px;
}

.crd3div{
  height: 400px;
  width: 300px;
  float: left;
  margin-left: 650px; 
  margin-top: -370px;
}

.crd4div{
  height: 400px;
  width: 300px;
  float: left;
  margin-left: 455px; 
  margin-top: -400px;
}

.crd1img{
  width: 300px;
  height: 300px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
  padding: 2px 16px;
  height: 300px;
  width: 300px;
}

.body{
  position: fixed;
} 
/*__________________*/
.fac-p-txt{
  font-size: 40px;
  color: orange;
}
/*.fac-hr{
  width: 150px;
  height: 1px;
  margin-top: -15px;
  background-color: black;
}*/


}

/*_______________________________NEWS________________________________________*/
.txtp{
  font-size: 40px;
  color: orange;
}

.imghr{
  width: 150px;
  height: 1px;
  margin-top: -15px;
  background-color: black;
  margin-bottom: 100px;
}

.imgnews1{
  height:705px;
  width: 1000px;
  margin-right: -5px;
  margin-left: 5px;
  margin-top: -43px;
}

.imgnews2{
  height: 350px;
  width: 500px;
  margin-left: 160px;
  margin-top: -45px;
}

.imgnews3{
  height: 355px;
  width: 500px;
  margin-top: -127px;
}

#container1{
  margin-top: -670px;
  margin-left: 850px;

}
#container2{
  margin-top:  130px;
  margin-left: 850px;
}

/*Bottom bar1 css*/
.divimgnew1bar{
  background-color: #222c3d;
  height: 100px;
  width: 1000px;
  position: absolute;
  margin-top: -110px;
  margin-left: 5px;
}
.imgnews1bar{
  color: orange;
  padding-left: 80px;
  padding-top: 20px;
}
.imgnews1bartxt{
  color: white;
 /* margin-right: 100px;*/
 padding-left: 80px;
 padding-top: -40px;
 font-size: 20px;
}
.imgnews1barbtn{
  background-color: orange;
  border-radius: 15px;
  margin-left: 780px;
  margin-top: -50px;
  width: 150px;
}
/*Bottom bar2 css*/
.divimgnew1bar2{
  background-color: #222c3d;
  height: 101px;
  width: 500px;
  position: absolute;
  margin-top: -110px;
  margin-left: 160px;
}
.imgnews1bar2{
  color: orange;
  padding-left: 70px;
  padding-top: 20px;
}
.imgnews1bartxt2{
  color: white;
 /* margin-right: 100px;*/
 padding-left: 70px;
 padding-top: -40px;
 font-size: 13px;
}

/*Bottom bar3 css*/
.divimgnew1bar3{
  background-color: #222c3d;
  height: 101px;
  width: 500px;
  position: absolute;
  margin-top: -110px;
  margin-left: 160px;
}
.imgnews1bar3{
  color: orange;
  padding-left: 70px;
  padding-top: 20px;
}
.imgnews1bartxt3{
  color: white;
 /* margin-right: 100px;*/
 padding-left: 70px;
 padding-top: -40px;
 font-size: 13px;
}


/*IMAGE*/
body {
  background-image: url("images/images (1)/"), url("paper.gif");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}


/*____________________________BLOGS-CARDS_____________________________________*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
/*  width: 40%;
  height: 400px;*/

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container5 {
  padding: 2px 16px;
}

/*___________________________TESTIMONIALS_____________________________________*/
.container3 {
  position: relative;
  /*text-align: center;*/
  color: black;

}

.centered1 {
  position: absolute;
  margin-top: -600px;
  margin-right: -500px;
/*  top: 50%;
  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
  /*height: 100%;*/
  /*width: 50%;*/
  /*margin-left: -3%;*/

}

.tpara{
 /* width: 800px;*/
  padding-right: 20px;
  padding-left: 100px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 70px;
  width: 1000px;
  font-size: 25px;
}

.imgwe{
  margin-top: -100px;
  margin-left: 100px;
}
.wetxt{
/*  padding-right: 5px;
  padding-left: 230px;*/
  margin-top: 100px;
  margin-left: 100px;
  width: 1000px;
}

.tfooter{
  margin-left: 100px;
  color: orange;
  font-size: 30px;
}
.tfooter1{
  margin-left: 100px;
}
/*_______________________________*/
.blogsp{
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 40px;
  color: orange;
}

.blogimghr{
  width: 150px;
  height: 1px; 
  margin-top: -15px; 
  background-color: black;

  margin-bottom: 80px;
}

.h4txt{
  font-size: 30px;
  color: orange;
  padding-right: 150px;
}

.ptxt{
  padding-right: 160px;
}

.bcard1{
  height: 500px;
  width: 400px;
  margin-bottom: -130px;
}

.bcard2{
  height: 500px;
  width: 400px;
  float: left;
  margin-left: 140px;
  margin-top: -370px;
}

.bcard3{
  height: 500px;
  width: 400px;
  float: left;
  margin-left: 450px;
  margin-top: -370px;
}

.blogimg{
  width: 400px;
  height: 300px;
}

/*____________________________FACULTIES' CARDS________________________________*/
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container6 {
  padding: 2px 16px;
}

/*___________________________________TESTIMONIALS_____________________________*/
.pttxt{
  font-size: 40px;
  color: orange;
  margin-top: 50px;
}

.timghr{
  width: 290px;
  height: 1px;
  margin-top: -15px;
  background-color: black;
  margin-bottom: 90px;
}

table{
  height: 100%;
  width: 100%;
}

.imgtst{
  /*margin: 30px;*/
  height:140%;
  width: 140%;
  margin: 20px;
}

/*______________________________SUBSCRIBE NOW_________________________________*/
.container4 {
  position: relative;
  text-align: center;
  color: black;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subsrch{
  position: absolute;
  margin-top: -90px;
  margin-left: -400px;
  border-radius: 20px;
  height: 30px;
  width: 550px;
}

.subbtn{
  position: absolute;
  margin-top: -90px;
  margin-left: 200px;
  font-style: "Lato" sans-serif;
  border-radius: 20px;
  background-color: orange;
  height: 30px;
  width: 150px;
}

.subhr{
  /*border-style: solid;*/
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: orange;
}

/*________________________________FOOTER______________________________________*/
.footernav{
  margin-top: -15px;
  height: 400px;
  padding-top: 50px;
}

.flogo{
  height: 100px;
  width: 150px;
  margin-left: 70px;
}

.fh2txt{
  color: orange;
  margin-left: 80px;
  margin-top: 35px;
  font-size: 40px;
}

.fquickdiv{
  float: left;
  margin-left: 400px;
  margin-top: -220px;
}

footer div h3{
  color: orange;
}

footer div ul{
  list-style-type: none;
  font-size: 15px;
  padding-left: 2px;
  color: white;
}

.fusefuldiv{
  float: left;
  margin-left: 650px;
  margin-top: -220px;
}

.fcontactdiv{
  float: left;
  margin-left: 900px;
  margin-top: -220px;
}

/*.txtcontact{
  width: 10px;
}*/

.flocation-li{
  padding: 2px;
  width: 200px;
}

/*.flocation-img{
  width: 23px;
  padding: 2px;
}*/

.fcontact-img{
  width: 30px;
  padding: 2px;
}

.fcampusdiv{
  float: left;
  margin-left: 1200px;
  margin-top: -220px;
}

.fcampush3{
  color: orange;
}

.fcampusul{
  list-style-type: none;
  font-size: 15px;
  padding-left: 2px;
  color: white;
}

.ffollow{
  color: #2f415e;
  margin: 5px;
  padding: 3px;
}

.ffollowicon{
  padding: 3px;
/*  padding-left: -20px;
  padding-right: -20px;*/
  margin-left: 10px;
  margin-right: 10px;
}

.ffollowimg{
  height: 40px;
  width: 40px;
}

.fcopyfooter{
  height: 100px;
  color: white;

}

.fcopytxt{
  font-size: 20px;
  margin-top: 45px;
  color: white;
}